@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary100: #545ae8;
  --primary200: #f48c06;
  --primary300: #2f327d;
  --primary400: #696984;
  --secondary100: #6c6c6c;
  --secondary200: #414141;
  --secondary300: #767676;
  --secondary400: #29b9e7;
  --secondary500: #c4c4c4;
  --secondary600: #F4B767;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary100: var(--primary100);
  --color-primary200: var(--primary200);
  --color-primary300: var(--primary300);
  --color-primary400: var(--primary400);
  --color-secondary100: var(--secondary100);
  --color-secondary200: var(--secondary200);
  --color-secondary300: var(--secondary300);
  --color-secondary400: var(--secondary400);
  --color-secondary500: var(--secondary500);
  --color-secondary600: var(--secondary600);
}

body {
  background: var(--background);
  color: var(--foreground);
  box-sizing: border-box;
}
